<form [formGroup]="form" (ngSubmit)="closeModal(true)">
  <div class="flex flex-column ph3">
    <div class="flex mv3">
      <input
        type="text"
        class="text-body font-bold text-size-xl"
        formControlName="taskTitle"
        placeholder="Task Title"
      />
    </div>
    <div class="flex justify-between items-center mv3">
      <mat-form-field>
        <mat-label><i class="ri-increase-decrease-fill"></i>Estimate</mat-label>
        <mat-select placeholder="Estimate" formControlName="estimate">
          @for (estimate of POINT_ESTIMATES | keyvalue; track estimate.key) {
            <mat-option [value]="estimate.key"
              ><i class="ri-increase-decrease-fill"></i>{{ estimate.key | as: pointEstimates | estimates }}</mat-option
            >
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ml2">
        <mat-label><i class="ri-user-fill"></i>Assignee</mat-label>
        <mat-select placeholder="Assignee" formControlName="assignee">
          <mat-option value="abc">
            <div class="flex items-center">
              <app-avatar size="sm" imageUrl="https://picsum.photos/200" />
              <p class="text-size-m">Jerome Bell</p>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ml2">
        <mat-label><i class="ri-price-tag-3-fill"></i>Label</mat-label>
        <mat-select placeholder="Label" [multiple]="true" formControlName="label">
          @for (tag of ASSIGNED_SEVERITIES | keyvalue; track tag.key) {
            <mat-option [value]="tag.key">
              {{ tag.key | replaceUnderscore }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ml2">
        <mat-label><i class="ri-calendar-check-fill"></i>Due date</mat-label>
        <input (click)="picker.open()" readonly matInput [matDatepicker]="picker" formControlName="dueDate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="action-buttons flex justify-end">
      <button type="button" class="plain" (click)="closeModal()">Cancel</button>
      <button class="primary ml2">{{ dialogData ? 'Save Changes' : 'Create' }}</button>
    </div>
  </div>
</form>
