<section>
  <div class="flex justify-between items-center">
    <p>Slack</p>
    <p>...</p>
  </div>
  <div class="flex justify-between items-center">
    <p>4 Points</p>
    <app-tag><i class="ri-alarm-line mr2"></i>TODAY</app-tag>
  </div>
  <div class="flex">
    <app-tag severity="success" class="mr2">IOS APP</app-tag>
    <app-tag severity="warn">ANDROID</app-tag>
  </div>
  <div class="flex justify-between items-center">
    <app-avatar size="sm" imageUrl="https://picsum.photos/100" />
    <div class="icons flex">
      <div class="icon-group"><i class="ri-attachment-2"></i></div>
      <div class="icon-group mh3">3 <i class="ri-git-merge-line"></i></div>
      <div class="icon-group">3 <i class="ri-chat-3-line"></i></div>
    </div>
  </div>
</section>
