// Neutral
$color-neutral-1: rgba(255, 255, 255, 1);
$color-neutral-2: rgba(148, 151, 154, 1);
$color-neutral-3: rgba(57, 61, 65, 1);
$color-neutral-4: rgba(44, 47, 51, 1);
$color-neutral-5: rgba(34, 37, 40, 1);

// Primary
$color-primary-1: rgba(244, 204, 200, 1);
$color-primary-2: rgba(235, 165, 158, 1);
$color-primary-3: rgba(226, 125, 115, 1);
$color-primary-4: rgba(218, 88, 75, 1);

// Secondary
$color-secondary-1: rgba(200, 225, 188, 1);
$color-secondary-2: rgba(170, 209, 153, 1);
$color-secondary-3: rgba(141, 194, 117, 1);
$color-secondary-4: rgba(112, 178, 82, 1);

// Tertiary
$color-tertiary-1: rgba(249, 238, 215, 1);
$color-tertiary-2: rgba(242, 218, 171, 1);
$color-tertiary-3: rgba(235, 199, 127, 1);
$color-tertiary-4: rgba(229, 180, 84, 1);

// Info
$color-info-4: rgba(47, 97, 191, 1);
