@import 'colors';
@import 'button';

span, i {
  color: $color-neutral-2;
}

nav {
  display: grid;
  grid-template-columns: 40px 1fr 40px 40px 40px;
  align-items: center;
  padding: 12px 24px;
  background: $color-neutral-4;
  border-radius: 16px;
}

input {
  background: transparent;
  border: 0;
  color: $color-neutral-2;

  &:focus {
    outline: none;
    height: 100%;
  }
}
