<div class="wrapper">
  <router-outlet />
  <!--  <app-nav-bar></app-nav-bar>-->
  <!--  <app-avatar size="sm" imageUrl="https://picsum.photos/200"></app-avatar>-->
  <!--  <app-avatar size="md" imageUrl="https://picsum.photos/200"></app-avatar>-->
  <!--  <app-avatar size="lg" imageUrl="https://picsum.photos/200"></app-avatar>-->

  <!--  <div style="display: flex">-->
  <!--    <app-tag>Test 123</app-tag>-->
  <!--    <app-tag severity="success" [displayControl]="true">Test 456</app-tag>-->
  <!--    <app-tag severity="info">Test 789</app-tag>-->
  <!--    <app-tag severity="warn">Test 012</app-tag>-->
  <!--    <app-tag severity="error">Test 012</app-tag>-->
  <!--  </div>-->

  <!--  <button>Test</button>-->
  <!--  <app-main-layout />-->
</div>
