@import 'colors';

nav {
  border-radius: 24px;
  padding: 12px 0;
  height: 100%;
  background: $color-neutral-4;
}

ul {
  list-style: none;
  margin-top: 56px;

  li {
    height: 56px;
    margin-bottom: 8px;
    color: $color-neutral-1;

    &.active,
    &:hover {
      transition: all 0.2s ease-in-out;
      background: linear-gradient(90deg, rgba(186, 37, 37, 0) 0%, rgba(210, 77, 77, 0.1) 100%);
      border-right: solid 4px $color-primary-4;
    }
  }
}
