@import 'colors';

.tag {
  text-transform: uppercase;
  padding: 4px 16px;
  border-radius: 4px;

  &-default {
    background: $color-neutral-2;
    color: $color-neutral-1;
  }

  &-success {
    background: rgba(112, 178, 82, 0.1);
    color: $color-secondary-4;
  }

  &-info {
    background: rgba(47, 97, 191, 0.1);
    color: $color-info-4;
  }

  &-warn {
    background: rgba(229, 180, 84, 0.1);
    color: $color-tertiary-4;
  }

  &-error {
    background: rgba(218, 88, 75, 0.1);
    color: $color-primary-4;
  }
}
